<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h3>
    {{athlete.name_lf()}}
    {% if athlete.is_handcrank %}
     [HC]
    {% endif %}
  </h3>
  <div class="form-group">
  <table class="table table-condensed">
    <tr>
      <td class="col-md-2 text-right"><strong>Phone</strong></td>
      <td>{{ athlete.phone_display() if athlete.phone_display() != None }}</td>
    </tr>
    <tr>
      <td class="col-md-2 text-right"><strong>Email</strong></td>
      <td>{{ athlete.email if athlete.email != None  }}</td>
    </tr>
    <tr>
      <td class="col-md-2 text-right"><strong>Date of Birth</strong></td>
      <td>{{ athlete.date_birth if athlete.date_birth != None }}</td>
    </tr>
    <tr>
      <td class="col-md-2 text-right"><strong>Address</strong></td>
      <td>{{ athlete.address_string() if athlete.address_string() != None }}</td>
    </tr>
    <tr>
      <td class="col-md-2 text-right"><strong>Disability</strong></td>
      <td>{{ athlete.disability if athlete.disability != None }}</td>
    </tr>
    <tr>
      <td class="col-md-2 text-right"><strong>Pace</strong></td>
      <td>{{ athlete.pace if athlete.pace != None }}
        {% if athlete.pace_avg() %} ( avg: {{ athlete.pace_avg() }} min/mile ){% endif %}
      </td>
    </tr>   
    <tr>
      <td class="col-md-2 text-right"><strong>Emergency Contact</strong></td>
      <td>
        {{ athlete.ice_name if athlete.ice_name != None }}
        {% if athlete.ice_phone_display() %}
          <br>
          {{ athlete.ice_phone_display() }}
        {% endif %}
        {% if athlete.ice_email %}
          <br>
          {{ athlete.ice_email }}
        {% endif%}
      </td>
    </tr>
    <tr>
      <td class="col-md-2 text-right"><strong>Note</strong></td>
      <td>{{ athlete.note if athlete.note != None }}</td>
    </tr>
  </table>

  <br>

  <a href="{{ url_for('edit_athlete', id=athlete.id) }}" class="btn btn-default">
    <i class="fa fa-pencil"></i> Edit
  </a>
  <a href="{{ url_for('delete_athlete', id=athlete.id) }}" class="btn btn-danger">
    <i class="fa fa-times"></i> Delete
  </a>

  <!-- show workouts -->
  <hr>
  {% if athlete.workouts().first() %}
    <h3>
      <a href="{{url_for('new_workout', id=athlete.id) }}" class="btn btn-default btn-xs">
        <i class="fa fa-plus"></i>
      </a>
       Workouts
    </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-2 text-right">Date</th>
          <th class="col-md-1 text-right">Distance (miles)</th>
          <th class="col-md-1 text-right">Speed (min/mile)</th>
          <th class="col-md-1 text-right">Total Time (min)</th>
          <th class="col-md-8">Note</th>
        </tr>
      </thead>
      <tbody>
        {% for workout in athlete.workouts() %}
          <tr>
            <td class="col-md-2 text-right">
              <a href="{{url_for('edit_workout', id=workout.id) }}" class="btn btn-secondary btn-xs">
                <i class="fa fa-pencil"></i>
              </a> {{ workout.date_display() }}
            </td>
            <td class="col-md-1 text-right">{{ workout.display_distance() if workout.display_distance() != None }}</td>
            <td class="col-md-1 text-right">{{ workout.display_speed() if workout.display_speed() != None }}</td>
            <td class="col-md-1 text-right">{{ workout.duration() if workout.duration() != None }}</td>
            <td class="col-md-7">{{ workout.note if workout.note != None }}</td>
            <td class="col-md-1">
              <a href="{{ url_for('delete_workout', id=workout.id) }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
            </td>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{{ athlete.name_fl() }} does not have any workouts yet!</p>
  {% endif %}

{% endblock %}
